extends layout

block content
  h1= title
  h2 Welcome to #{title}
  ul 
    each message in messages
      li
        p User: #{message.user}
        p Text: #{message.text}
        p Date: #{message.added}
